<!DOCTYPE html>
<html>
<head>
    <title>Housing Affordability Plot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>Select a Date:</h2>
    <select id="dateSelector">
        {% for date in dates %}
        <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
    </select>

    <h3>Plot:</h3>
    <img id="plotImage" src="" alt="Plot will be displayed here.">

    <script>
        $(document).ready(function(){
            $('#dateSelector').change(function(){
                var selectedDate = $(this).val();
                $.post('/update_plot', {selected_date: selectedDate}, function(data){
                    $('#plotImage').attr('src', data.plot_url);
                });
            });
        });
    </script>
</body>
</html>
